node_modules/
.vscode/
.idea/
/.npmrc
temp/

# Build folder
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Environment variables
.env*
!.env.example

# System files
.DS_Store
