# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Publish package to GitHub Packages

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    # Setup pnpm with version defined in package.json
    - name: Setup pnpm
      uses: pnpm/action-setup@v4

    # Use specific node version and publish package
    - name: Setup node and publish package
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'pnpm'
        registry-url: 'https://npm.pkg.github.com'
    - run: pnpm install
    - run: pnpm build
    - run: pnpm publish --access public --no-git-checks
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
