# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Tests for Build Output

on:
  push:
    branches:
      - dev

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    # Setup pnpm with version defined in package.json
    - name: Setup pnpm
      uses: pnpm/action-setup@v4

    # Install bun
    - name: Install bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: '1.3.8'

    # Use specific node version and setup .npmrc
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'pnpm'
        registry-url: 'https://npm.pkg.github.com'

    # Update .npmrc for security
    - name: Configure .npmrc for security
      run: echo "block-exotic-subdeps=true" >> .npmrc
    - run: echo "minimum-release-age=4320" >> .npmrc

    # Install dependencies and build the package
    - name: Install dependencies and run build
      run: pnpm install
    - run: pnpm build

    # Run tests for the build
    - name: Run build tests
      run: pnpm test:build
